#container
{
    position:           fixed;
    top:                0px;
    left:               0px;
    bottom:             0px;
    right:              0px;
    margin:             0px;
}

#donut
{
    position:           absolute;
    top:                50%;
    left:               50%;
    transform:          translate(-50%, -50%);
}

#axisDetails
{
    position:           absolute;
    top:                50%;
    right:              0%;
    transform:          translate(+0%, -50%);
    height:             100%; 
    background-color: rgb(64, 197, 93);
    padding:            20 10 20 20;
    overflow:           auto;
    font-size:          16px;
    text-align:         left;
}

#axisDetailsPicture
{
    display:            flex;
    max-width:          100%;
    margin:             auto;
    border-radius:      10%;
}

.hidden
{
    display:            none;
}
